*{
    margin: 0;
    padding: 0;

}
p {
    margin-top: 60px;
    margin-left: 50px;
    font-size: 100px;
    color: red;
}

#paragrafo{
    color: blue;
    font-size: 200px;
}
#imagem{
    position: absolute;
    left: 70px;
    top: 500px;
    width: 500px;
    height: 300px;
}